spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hrmsdb
    username: dev
    password: dev123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: rudals0326@gmail.com
    password:
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true

mail:
  from: "HRMS Admin <rudals0326@gmail.com>"
  frontend-base-url: "http://localhost:5173"

