name: Deploy to Dev Server CD

on:
  push:
    branches: [ "develop" ]

jobs:
  springboot-hrms-cd:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
          cache-dependency-path: |
            **/*.gradle*
            **/gradle-wrapper.properties

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/springboot-hrms:latest-linux
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: springboot-hrms-cd
    runs-on: ubuntu-24.04

    steps:
      - name: Deploy to EC2 via SSH (docker run)
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker stop springboot-hrms || true
            docker rm springboot-hrms || true

            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/springboot-hrms:latest-linux

            docker run -d \
              --name springboot-hrms \
              -p 8080:8080 \
              -e SPRING_DATASOURCE_URL=jdbc:mysql://${{ secrets.RDS_ENDPOINT }}:3306/hrmsdb \
              -e SPRING_DATASOURCE_USERNAME=${{ secrets.RDS_USERNAME }} \
              -e SPRING_DATASOURCE_PASSWORD=${{ secrets.RDS_PASSWORD }} \
              -e MAIL_USERNAME="${{ secrets.MAIL_USERNAME }}" \
              -e MAIL_PASSWORD="${{ secrets.MAIL_PASSWORD }}" \
              -e MAIL_FROM="${{ secrets.MAIL_FROM }}" \
              -e FRONTEND_BASE_URL="${{ secrets.FRONTEND_BASE_URL }}" \
              ${{ secrets.DOCKER_HUB_USERNAME }}/springboot-hrms:latest-linux
